header {
  h1 {
    margin: 0;
  }
}

nav.main-nav {
  position: fixed;
  z-index: 99;
  top: 222px;
  left: -305px;
  display: block;
  width: 695px;
  height: 80px;
  text-align: center;
  transform: rotate(-90deg);
  font-family: 'TotentanzBackslanted';
  font-size: 1.2em;

  ul {
    display: flex;

    ul.submenu {
      position: relative;
      flex-direction: column;
      margin-top: 20px;
      margin-left: -25%;
      padding: 0;
      transform: rotate(90deg);
      text-align: initial;
      font-size: 0.8em;

      a {
        font-size: 0.6em;
      }
    }
  }

  li {
    list-style-type: none;
  }

  a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  a:hover,
  a.active {
    color: #ffa2df;
  }

  a.active {
    font-family: 'TotentanzSlanted';
  }

  span.nav-separator {
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 26px;
  }

  .mobile-menu-icon {
    display: none;
  }
}

.logo-image {
  position: fixed;
  top: 30px;
  left: calc(50% - 100px);
  z-index: 999;
}

.cart {
  position: fixed;
  top: 44px;
  right: 0;
  width: 75px;
  max-width: 75px;

  svg {
    margin-top: -10px;
  }
}

.cart-item-count {
  position: absolute;
  left: 34%;
  top: 9%;
  color: white;
  background: black;
  font-family: 'InterstateBold';
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 100%;
  font-size: 0.7em;
}

.cart-nav {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  nav.main-nav {
    top: initial;
    left: initial;
    width: 100%;
    height: 50px;
    transform: initial;

    ul {
      display: grid;
      padding-left: 27%;
    }

    span.nav-separator {
      display: none;
    }
  }

  .main-nav li {
    display: none;
  }

  .main-nav li.mobile-menu-icon {
    position: absolute;
    top: 26px;
    left: 16px;
    display: block;
    float: right;
  }

  .main-nav.responsive {
    position: relative;
    padding-top: 30%;
    height: 570px;
    background: rgba(255, 255, 255, 0.7);

    ul.submenu {
      transform: none;
      margin-top: -5px;
      width: 90%;
      float: right;

      a {
        font-size: 0.4em;
      }
    }
  }

  .main-nav.responsive li {
    display: block;
    text-align: left;
    font-size: 1.4em;
  }

  .main-nav.responsive li:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .main-nav.responsive > ul > li:first-child {
    border-top: 2px solid black;
  }

  .main-nav.responsive > ul > li:nth-last-child(2) {
    border-bottom: 2px solid black;
  }

  .submenu > li:last-child {
    border-bottom: none;
  }

  .main-nav.responsive .cart-nav {
    display: inline-block;
    font-size: 20px;
    margin-left: -80px;
  }

  .logo-image {
    top: 22px;
    left: calc(50% - 57px);
    width: 110px;
    mix-blend-mode: unset;
    filter: unset;
  }

  .cart {
    top: 18px;
    right: 16px;
    width: 50px;
  }

  .cart-item-count {
    left: 36%;
    top: 10%;
    padding: 2px 5px;
    border-radius: 93%;
    font-size: 11px;
  }

  #shopify-section-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 79px;
    background: rgba(255, 255, 255, 0.6);
  }
}
